/* ========================
        font imports
======================== */
@font-face {
  font-family: varela;
  src: url("fonts/varela-round.ttf");
}

@font-face {
  font-family: genty-sans;
  src: url("fonts/genty_sans.ttf");
}

@font-face {
  font-family: phantom-sans;
  src: url("fonts/phantom_sans.ttf");
}

/* ========================
        global styles
======================== */

* {
  font-family: varela;
}

body {
    margin: 0;
    padding: 0;
}

.content {
  margin-left: 30px;   
}

/* ========================
        nav bar
======================== */
.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: pink;
    overflow: hidden;
    height: 100px;
    padding: 0 20px;
  }

/* right side */

.topnav_right {
    display: flex;
    align-items: center;
}

/* links in nav */

.topnav a {
  color: white;
  align-items: center;
  text-align: center;
  text-decoration: none;
  cursor: pointer;  
  font-size: 2rem;
  padding: 15px;
}

.topnav a:hover {
  background-color: #e3acb6;
}

.topnav a.active {
  background-color: pink;
}

/* exit button */

.exit button {
    background-color: pink;
    color: white;
    border-style: none;
    cursor: pointer;
    font-size: 2rem;
    padding: 15px;
}

.exit button:hover {
  background-color: #e3acb6;
}

/* logo */

#logo {
    height: 70%;
}

/* ========================
        label
======================== */