{% extends "levels_layout.html" %}

{% block title %}
    mutliplication
{% endblock %}

{% block content %}
<h1>multiplication level</h1>
<div class="problem_box">
    <p>{{ problem }}</p>
    <form method="POST">
        <div class="enter_form">
            <input type="hidden" name="problem" value="{{ problem }}">
            <input type="number" name="answer" placeholder="answer?" required>
            <input type="hidden" name="correct_answer" value="{{ answer }}">
            <button type ="submit" name="submit_button" value="enter_multiplication">enter</button>
        </div>
    </form>
</div>

{% if error %}
<!-- display a browser alert with the right answer-->
<script>
    alert("{{ error }}");
</script>
{% endif %}

{% endblock %}